/* DateSelector.css */
.date-selector {
    text-align: center;
    margin: 20px;
  }
  
  .horizontal-date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
    width: 100%;
  }
  
  .date-option {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition effect */
  }
  
  .date-option:hover {
    background-color: #90EE90; 
  }
  
  .date-option.selected {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  