.container {
 
  height: 100%;
  width: 500px;
  border-radius: 6px;
  /* box-shadow: 0 4px 28px rgba(123,151,158,.25); */
  border: 1px solid #d6dee1;
  padding: 1rem;
  overflow: hidden;
  margin: auto auto;
}
h1 {
  margin: 0;
  text-align: center;
}